<div class="container">
    <h1>Your Shopping Cart</h1>
    <div id="cart-items">
      {{#each data}}
        <div class="cart-item">
          <p>Product ID: {{this.productId}}</p>
          <p>Quantity: {{this.quantity}}</p>
          <button onclick="removeItem('{{this.productId}}')">Remove</button>
        </div>
      {{/each}}
    </div>
    <button onclick="finalizePurchase()">Finalize Purchase</button>
  </div>
<script src="js/cart.js"></script>