<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-3">
          <form method="post" id="passwordResetForm">
            <div class="form-group">
              <label for="password">Ingrese su nueva contraseña</label>
              <div class="d-flex justify-content-between">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                />
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="showPasswordToggle"
                >
                  <i class="bi bi-eye"></i>
                </button>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-info"
              id="submitPassword"
            >Submit</button>

          </form>
      </div>
    </div>
  </div>
</div>
<script src="../../js/passReset.js"></script>